/* This file contains rules for the overall layout to workout, personalization probably shouldn't happen here, since
 * values that are expected to be customized are declared as variables in vars.css
 */

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	display: block;
	height: 100%;
}

main {
	display: table;
	padding: 2.75rem 1rem 0 1rem;
	box-sizing: border-box;
	margin:0 auto;
	position: relative;
	width: 100%;
	max-width: 1600px;
}

main > .left {
	float: left;
}

main > .right {
	float: right;
}

main > aside {
	width: 180px;
	margin-top: 1rem;
}

main > section {
	margin:0 auto;
	position: relative;
	width: calc(100% - 180px - 180px - 1rem - 1rem);
	padding:1rem 2rem 1rem;
	background: var(--color-background-light);
	box-shadow: 0px 0px 4px 1px var(--color-background-dark);
}

footer {
	clear: both;
	background: var(--color-background-dark);
	margin-top: 4rem;
	width: 100%;
	display: block;
	border-top: solid 2px var(--sl-color-primary-600);
	border-bottom: solid 2px var(--sl-color-primary-600);
}

#footer {
	margin:0 auto;
	width: 100%;
	padding:1rem 2rem;
	max-width: 960px;
	text-align: center;
}

h1 {
	font-size: 2.6rem;
	margin: 0;
}

h2 {
	font-size: 2.3rem;
	margin: 0 0 1rem;
}

h3 {
	font-size: 2rem;
	margin: 0 0 1rem;
}

h1,h2,h3 {
	font-family: var(--header-font-family);
	font-weight: 300;
}

h4,h5,h6,p,ul,ol {
	font-family: var(--font-family);
}

a {
	text-decoration: none;
	color: var(--sl-color-primary-700);
	font-weight: bold;
}

a:focus,
a:hover {
	text-decoration: underline;
}

footer a {
	color: var(--sl-color-primary-800);
}

p {
	font-size: 1.1rem;
	line-height: 1.4em;
}

body.embed header,
body.embed footer,
body.embed main > aside {
	display: none;
}

body.embed main {
	max-width: none;
	padding: 0;
}

body.embed main > section {
	box-shadow: none;
	width: 100%;
}

iframe {
    border: none;
}

@media only screen and (max-width: 1280px) {
	main > .right {
		float: left;
	}

	main > section {
		margin:0 0 0 auto;
		position: relative;
		width: calc(100% - 180px - 1rem);
		padding:1rem 2rem;
		background: var(--color-background-light);
		box-shadow: 0px 0px 4px 1px var(--color-background-dark);
	}
}

@media only screen and (max-width: 960px) {
	main {
		padding-left: 0;
		padding-right: 0;
	}

	main > aside {
		display: none;
	}

	main > section {
		margin:0 0 0 auto;
		position: relative;
		width: 100%;
		padding:1rem 1.5rem;
		background: var(--color-background-light);
		box-shadow: none;
	}

	:root {
		background: var(--color-background-light);
	}

	#footer {
		padding: 1rem 1.5rem;
	}

	footer {
		background: var(--color-background);
	}
}

@media only screen and (max-width: 700px) {
	h1 {
		font-size: 2.2rem;
	}

	h2 {
		font-size: 1.9rem;
	}

	h3 {
		font-size: 1.6rem;
	}

	h4 {
		font-size: 1.4rem;
	}

	h5 {
		font-size: 1.2rem;
	}

	#footer,
	main > section {
		padding: 1rem;
	}
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 1.6rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	h4 {
		font-size: 1.1rem;
	}

	h5, h6 {
		font-size: 1rem;
	}

	p {
		font-size: 1rem;
		line-height: 1.35em;
	}
}

@media only screen and (max-width: 400px) {
	h1 {
		font-size: 1.4rem;
	}

	h2 {
		font-size: 1.3rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	h4 {
		font-size: 1.1rem;
	}

	h5, h6 {
		font-size: 1rem;
	}

	p {
		line-height: 1.3em;
	}
}

@media print {
	header,
	footer,
	main > aside {
		display: none;
	}

	main {
		padding: 0;
		max-width: none;
		width: 100%;
	}

	main > section {
		width: 100%;
		box-shadow: none;
	}
}
