/* This file contains default variables that are used within other stylesheets as well as the components themselves.
 * If you want to personalize an instance, this file is the best place to start!
 */

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: var(--color-text);
	background-color: var(--color-background);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	--header-font-family: Avenir, Montserrat, Corbel, "URW Gothic",
		source-sans-pro, sans-serif;

	--color-text: #242424;
	--color-background: #eee;
	--color-background-light: #fff;
	--color-background-dark: #ddd;

	--color-primary: #37b;
	--color-primary-dark: #1c4773;
	--color-primary-light: #72a0d1;
	--color-primary-text: #fff;

	--color-secondary: #bb33a4;
	--color-secondary-dark: #5c1450;
	--color-secondary-light: #dc8bc9;
	--color-secondary-text: #242424;

	--color-correct: #3b7;
	--color-correct-dark: #1a4;
	--color-correct-light: #5fa;

	--color-wrong: #b73;
	--color-wrong-dark: #a41;
	--color-wrong-light: #fa5;

	--color-error: #e41;
	--color-error-dark: #d20;
	--color-error-light: #f41;
}
